<div class="admin_index">
	<h1 class="page_title">ユーザー管理画面</h1>
    <div class="user_list">
        <div class="user_name_list">
            <span><h5>ユーザーネーム</h5></span>
        </div>
        <div class="user_email_list">
            <span><h5>メールアドレス</h5></span>
        </div>
        <% @users.each do |users| %>
            <div class="user_name_list">
                <span><%= link_to users.user_name, admin_path(users)%></span>
            </div>
            <div class="user_email_list">
                <span></span><%= users.email %></span>
            </div>
        <%end%>
    </div>
</div>