<div class="morph">
	<div class="morph_about_main">
		<div class="circle_1"></div>
		<div class="circle_2"></div>
		<div class="circle_3"></div>
		<div class="circle_4"></div>
		<div class="circle_5"></div>
		<div class="circle_6"></div>
		<h1 class="M">M</h1>
		<h1 class="ô">ô</h1>
		<h1 class="R">R</h1>
		<h1 class="P">P</h1>
		<h1 class="H">H</h1>
		<h1 class="MO">も</h1>
		<h1 class="O">お</h1>
		<h1 class="FU">ふ</h1>
		<h1 class="period">。</h1>
	</div>
	<div class="morph_about_main_2">
		<div class="about_morph">
			<h2>MôRPHとは</h2>
			<h5>
				<br>
				語源は英単語の Morpheme (訳:形態素) から拝借しました。<br>
				<br>
				"形態素"とは「意味をもつ表現要素の最小単位」のことです。<br>
			</h5>
		</div>
		<div class="about_purpose">
			<h2>MôRPHの4つの目的</h2>
			<h5><br></h5>
			<h4>1.文章の価値を再認識する</h4>
			<h5><br></h5>
			<h5>
				”文章” は ”文” の連なり、<br>
				<br>
				”文”は ”単語” の連なり、<br>
				<br>
				”単語” は ”形態素” に細分化できます。<br>
				<br>
				MôRPHでは貴方の文章を形態素に変換することで<br>
				<br>
				価値を最小限に抑えた単語の羅列にします。<br>
			</h5>
			<h5><br></h5>
			<h4>2.文芸の選び方を変える</h4>
			<h5><br></h5>
			<h5>
				MôRPHでは一覧画面に表紙や題名、著者名は記載しません。<br>
				<br>
				形態素の情報だけで読みたい文章を判断します。<br>
				<br>
				価値を最小限に抑えたありのままの言葉から選びましょう。<br>
				<br>
				そしてありのままの言葉から選んでもらいましょう。<br>
				<br>
			</h5>
			<h4>3.貴方の作品に新しい価値を見つける</h4>
			<h5><br></h5>
			<h5>
				投稿した作品は形態素解析され、ワードクラウド化されます。<br>
				<br>
				また、頻出度で括ったグラフや表として可視化することで、<br>
				<br>
				文章以外の作品として価値を見出しましょう。<br>
				<br>
			</h5>
			<h4>4.全てのアーティストの力に...</h4>
			<h5><br></h5>
			<h5>
				小説、歌詞、日記、etc...<br>
				<br>
				少しでも自分の書いた文章を読んでほしい。<br>
				<br>
				アーティストやクリエイター向けのサイトです。<br>
				<br>
				
			</h5>
		</div>
	</div>
</div>

