<div class="morph">
	<div class="morph_about_main">
		<div class="circle_1"></div>
		<div class="circle_2"></div>
		<div class="circle_3"></div>
		<div class="circle_4"></div>
		<div class="circle_5"></div>
		<div class="circle_6"></div>
		<h1 class="M">M</h1>
		<h1 class="O">O</h1>
		<h1 class="R">R</h1>
		<h1 class="P">P</h1>
		<h1 class="H">H</h1>
		<h1 class="MO">も</h1>
		<h1 class="U">う</h1>
		<h1 class="FU">ふ</h1>
		<h1 class="period">。</h1>
	</div>
	<div class="morph_about_main_2">
		<div class="about_profile">
			<h2>MORPHとは</h2>
			<h5>
				MORPHは文芸作品の投稿・閲覧サイトです。<br>
				<br>
				MORPHとは英単語のMorpheme(訳:形態素)から拝借しました。<br>
				"形態素"とは「意味をもつ表現要素の最小単位」のことです。
			</h5>

		</div>
		<div class="about_profile">
			<h2>MORPH”もうふ”の４つの目的</h2>
			<h3>1.貴方の文章を形態素解析します</h3>
			<h3>2.形態素</h3>
			<h3>3.貴方の文章の価値を再発見するサイト</h3>
			<h3>4.貴方の文章の価値を再発見するサイト</h3>
		</div>
	</div>
</div>

