//books_new

#book_new{
	width: 90%;
}
	#create_title{
		margin: 20px auto;
	}
.input_body{
	height: 500px;
}

#submit{
	position: relative;
}

.submit_button{
	text-align: center;
}

#loading{
	position:absolute;
	font-size: 0px;
	text-align: center;
	left: 47%;
	bottom: 10px;
}