#cloud{
	width: 500px;
	height: 500px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	display: inline-block;
	background-color: white;
	margin: 10px;
	font-family: Hiragino Mincho ProN;
}
.morpheme_show{
	width: 90%;
	margin: 0 auto;
}
	.morph_main{
		position:relative;
	}
		.user_prof{
			position: absolute;
			top: 10px;
			left: 520px;
			width: 622px;
			height: 500px;
		}
			.create_title{
				width: 100%;
				font-family: Hiragino Mincho ProN;
				font-size: 50px;
			}
			.create_user{
				text-align: right;
				width: 100%;
			}
			.create_time{
				text-align: right;
				width: 100%;
			}
table{
	width: 50%;
	height: 260px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}
.table_all{
	display: block;
	text-align: center;
	margin-top: 20px;
}
	.table_meishi{
		display: inline-block;
		width: 30%;
		margin: 0 auto;
	}
		#meishi_graph{
			margin: 5px 5px;
			text-align: center;
		}
	.table_doushi{
		display: inline-block;
		width: 30%;
		margin: 0 auto;
	}
		#doushi_graph{
			margin: 5px 5px;
			text-align: center;
		}
	.table_hinshi{
		display: inline-block;
		width: 30%;
		margin: 0 auto;
	}
		#hinshi_graph{
			margin: 5px 5px;
			text-align: center;
		}
.sematic_block{
	width: 100%;
	height: 300px;
	font-size: 30px;
}

