// users_show
.profile-main{
	display: block;
	width: 90%;
	height: 220px;
	margin: 0 auto;
	position: relative;
}
	.profile-left{
		width: 200px;
		height: 200px;
		display: inline-block;
		margin: 10px;
		position: absolute;
		left: 0px;
		top:0px;
		background-size: cover;
	}
	.profile-image{
		background-size: cover;
		width: 200px;
		height: 200px;
	}
	.profile-center{
		width: 712px;
		height: 200px;
		display: inline-block;
		position: absolute;
		left: 220px;
		top: 10px;
	}
	.profile-right{
		width: 200px;
		height: 200px;
		display: inline-block;
		position: absolute;
		right: 10px;
		top: 10px;
	}
.word_cloud{
	width: 90%;
	margin: 0 auto 50px auto;
}
	.cloud_style_show{
		display: inline-block;
		width: 300px;
		height: 300px;
		box-sizing: border-box;
		border: 1px solid #ccc;
		margin: 10px;
		z-index: 1;
	}
	#one_book {
		border-radius: 10px;
		margin: 5px;
		position: relative;
	}
	#one_book a{
		border-radius: 10px;
		margin: 5px;
		position: absolute;
	    top: 0;
	    left: 0;
	    height:100%;
	    width: 100%;
		}
	.one_pro{
		display: inline-block;
		height: 100%;
	}
	.one_title{
		display: block;
		width: 800px;
	}
	.one_body{
		display: block;
		text-overflow: ellipsis;
  		overflow: hidden;
  		width: 800px;
  		height: 200px;
	}
	.body_abbr{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		word-break: break-all;
	}
.paginate_users{
	margin: 30px;
}