// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign_main{
	background-color: white;
	position: relative;
	width: auto;
	height: 800px;
	overflow: hidden;
}
    .circle_sign_1{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-color:#d0bad9;
            position: absolute;
            top: 170px;
            left: -30px;
    }
    .circle_sign_2{
        width: 1000px;
        height: 1000px;
        border-radius: 50%;
        background-color:#e85295;
        position: absolute;
        top: 400px;
        right: -300px;
    }

    .sign_container{
        background-color: white;
        width: 50%;
        height: 580px;
        margin: 100px auto;
        padding: 30px;
        box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
        position: relative;
        z-index: 100;
    }
        .sign_title{
            font-family: Hiragino Mincho ProN;
            text-align: center;
        }
        .render_box{
            margin: 10px auto;
            text-align: center;
        }
        #submit{
            color: white;
        }


